build/*
devel/*
logs/*
.catkin_tools/*
.catkin_workspace
src/CMakeLists.txt

*.pyc

.vscode/
src/.vscode/

# TEAM 1
src/svea_core/src/svea/bresenham/build/lib.linux-x86_64-2.7/
src/svea_core/src/svea/bresenham/build/temp.linux-x86_64-2.7/
src/svea_core/src/svea/bresenham/build/temp.linux-aarch64-2.7/
