<?xml version="1.0"?>
<launch>

    <arg name="map_file" default="$(find svea_core)/resources/maps/q1.yaml" />  
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find svea_core)/resources/rviz/SVEA_floor2.rviz" />
    <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map_file)" />
    
    <rosparam command="load" file="$(find svea_core)/resources/params/race_track.yaml" />
    
    <node pkg="svea_core" type="rviz_trackeditor.py" name="rviz_trackeditor" output="screen">
    </node>

</launch>
