<launch>
    <arg name="is_sim" default="true"/>

    <!-- <node pkg="svea_core" type="mpc_path_following.py" name="SVEA_mpc" output="screen"> -->
    <node pkg="svea_core" type="casadi_path_following.py" name="SVEA_mpc" output="screen">
        <param name="is_sim" value="$(arg is_sim)"/>
    </node>
</launch>
